<!-- <h1>{{ paginaActual }} / {{ numPaginas }}</h1> -->

<!-- <div class="botones">
  <button (click)="onClick(false)" [disabled]="paginaActual === 1">Anterior</button>
  <button (click)="onClick(true)" [disabled]="paginaActual === numPaginas">Siguiente</button>
</div> -->

<!-- <div class="personajes">
  <div class="personaje" *ngFor="let pers of arrPersonajes"
    [ngClass]="{ alive: (pers.status === 'Alive'), dead: (pers.status === 'Dead') }">
    <h3>{{ pers.name }}</h3>
    <img [src]="pers.image">
    <p>{{ pers.species }}</p>
    <p>{{ pers.location.name }}</p>
  </div>
</div> -->